.card-genre-container {
  display: inline-flex;
  height: 420px;
  width: 340px;
  padding: 1.5rem 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 200, 30, 0.2) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-family: "Manrope", "sans-serif";
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  animation: microBalance 2s ease-in-out infinite;
}